<!DOCTYPE html>
<html lang="pt-br" class="bg-slate-900">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://img.icons8.com/sf-regular/48/ff6633/historical.png">
        <title>Cronos Agenda - Registro</title>
    </head>
    <body>
        <section class="container mx-auto mt-5">
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
                <li class="mr-2">
                    <button onclick="utils.events()" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" id="tabEvents">Eventos</button>
                </li>
                <li class="mr-2">
                    <button onclick="utils.participants()" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" id="tabParticipants">Participantes</button>
                </li>
                <li class="mr-2">
                    <button onclick="utils.reminders()" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" id="tabReminders">Lembretes</button>
                </li>
                <li class="mr-2">
                    <button onclick="utils.recurrences()" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" id="tabRecurrences">Recorrência</button>
                </li>
                <li class="mr-2">
                    <button onclick="utils.categories()" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" id="tabCategories">Categorias</button>
                </li>
            </ul>
            <div class="mb-3" id="reminders">
                <label for="event-id-input" class="block font-medium text-white mt-4">ID do Evento:</label>
                <input type="number" id="event-id-input" name="event-id" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="reminder-type-input" class="block font-medium text-white mt-4">Tipo de Lembrete:</label>
                <select id="reminder-type-input" name="reminder-type" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option value="email" class="block font-medium text-white">E-mail</option>
                <option value="app_notification">Notificação no App</option>
                <option value="popup_notification">Notificação Pop-up</option>
                </select>
                <label for="reminder-time-input" class="block font-medium text-white mt-4">Tempo do Lembrete (em minutos):</label>
                <input type="number" id="reminder-time-input" name="reminder-time" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mb-3" id="participants">
                <label for="event-id-input" class="block font-medium text-white mt-4">ID do Evento:</label>
                <input type="number" id="event-id-input" name="event-id" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="email-input" class="block font-medium text-white mt-4">E-mail:</label>
                <input type="email" id="email-input" name="email" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mb-3" id="events">
                <label for="title-input" class="block font-medium text-white mt-4">Título:</label>
                <input type="text" id="title-input" name="title" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="category-input" class="block font-medium text-white mt-4">Categoria:</label>
                <input type="text" id="category-input" name="category" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="description-input" class="block font-medium text-white mt-4">Descrição:</label>
                <textarea id="description-input" name="description" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"></textarea>
                <label for="location-input" class="block font-medium text-white mt-4">Localização:</label>
                <input type="text" id="location-input" name="location" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="start-datetime-input" class="block font-medium text-white mt-4">Data e Hora de Início:</label>
                <input type="datetime-local" id="start-datetime-input" name="start-datetime" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="end-datetime-input" class="block font-medium text-white mt-4">Data e Hora de Término:</label>
                <input type="datetime-local" id="end-datetime-input" name="end-datetime" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mb-3" id="categories">
                <label for="category-name-input" class="block font-medium text-white mt-4">Nome da categoria:</label>
                <input type="text" id="category-name-input" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mb-3" id="recurrences">
                <label for="event-id-input" class="block font-medium text-white mt-4">ID do Evento:</label>
                <input type="number" id="event-id-input" name="event-id" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="recurrence-type-input" class="block font-medium text-white mt-4">Tipo de Recorrência:</label>
                <select id="recurrence-type-input" name="recurrence-type" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option value="daily">Diariamente</option>
                <option value="weekly">Semanalmente</option>
                <option value="monthly">Mensalmente</option>
                <option value="yearly">Anualmente</option>
                </select>
                <label for="recurrence-interval-input" class="block font-medium text-white mt-4">Intervalo de Recorrência:</label>
                <input type="number" id="recurrence-interval-input" name="recurrence-interval" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <label for="recurrence-end-date-input" class="block font-medium text-white mt-4">Data de Término da Recorrência:</label>
                <input type="date" id="recurrence-end-date-input" name="recurrence-end-date" class="mt-1 p-2 block w-1/3 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
        </section>
        <script src="../js/dataManagement.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>