<div class="mb-3" id="events">
    <label for="title-input">Título:</label>
    <input type="text" id="title-input" name="title">
    <label for="category-input">Categoria:</label>
    <input type="text" id="category-input" name="category">
    <label for="description-input">Descrição:</label>
    <textarea id="description-input" name="description"></textarea>
    <label for="location-input">Localização:</label>
    <input type="text" id="location-input" name="location">
    <label for="start-datetime-input">Data e Hora de Início:</label>
    <input type="datetime-local" id="start-datetime-input" name="start-datetime">
    <label for="end-datetime-input">Data e Hora de Término:</label>
    <input type="datetime-local" id="end-datetime-input" name="end-datetime">
</div>