<!DOCTYPE html>
<html lang="pt-br" class="bg-slate-900">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://img.icons8.com/sf-regular/48/ff6633/historical.png">
        <title>Cronos Agenda - Login</title>
    </head>
    <body class="max-w-lg mx-auto mt-32">
        <div class="mx-auto max-w-sm p-6 bg-white rounded-lg shadow">
            <div id="login-form">
                <input type="text" class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 mt-5" placeholder="Login" required>
                <input type="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 mt-5" placeholder="Senha" required>
                <a class="text-white text-center text-sm rounded-lg block bg-gradient-to-r from-cyan-500 to-blue-500 w-full pl-10 p-2.5 mt-5">Entrar</a>
                <a onclick="showRegistrationForm()" class="text-white text-center text-sm rounded-lg block bg-gradient-to-r from-cyan-500 to-blue-500 w-full pl-10 p-2.5 mt-5">Criar conta</a>
            </div>
            <div id="registration-form" class="hidden">
                <input type="text" class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 mt-5" placeholder="Nome" required>
                <input type="email" class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 mt-5" placeholder="E-mail" required>
                <input type="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5 mt-5" placeholder="Senha" required>
                <a class="text-white text-center text-sm rounded-lg block bg-gradient-to-r from-cyan-500 to-blue-500 w-full pl-10 p-2.5 mt-5">Registrar</a>
                <a onclick="showLoginForm()" class="text-white text-center text-sm rounded-lg block bg-gradient-to-r from-cyan-500 to-blue-500 w-full pl-10 p-2.5 mt-5">Voltar ao login</a>
            </div>
        </div>
        <script>
            function showRegistrationForm() {
                document.getElementById('login-form').classList.add('hidden');
                document.getElementById('registration-form').classList.remove('hidden');
            }
            
            function showLoginForm() {
                document.getElementById('registration-form').classList.add('hidden');
                document.getElementById('login-form').classList.remove('hidden');
            }
        </script>
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>