<div class="mb-3" id="recurrences">
    <label for="event-id-input">ID do Evento:</label>
    <input type="number" id="event-id-input" name="event-id">
    <label for="recurrence-type-input">Tipo de Recorrência:</label>
    <select id="recurrence-type-input" name="recurrence-type">
    <option value="daily">Diariamente</option>
    <option value="weekly">Semanalmente</option>
    <option value="monthly">Mensalmente</option>
    <option value="yearly">Anualmente</option>
    </select>
    <label for="recurrence-interval-input">Intervalo de Recorrência:</label>
    <input type="number" id="recurrence-interval-input" name="recurrence-interval">
    <label for="recurrence-end-date-input">Data de Término da Recorrência:</label>
    <input type="date" id="recurrence-end-date-input" name="recurrence-end-date">
</div>