<div class="mb-3" id="reminders">
    <label for="event-id-input">ID do Evento:</label>
    <input type="number" id="event-id-input" name="event-id">
    <label for="reminder-type-input">Tipo de Lembrete:</label>
    <select id="reminder-type-input" name="reminder-type">
    <option value="email">E-mail</option>
    <option value="app_notification">Notificação no App</option>
    <option value="popup_notification">Notificação Pop-up</option>
    </select>
    <label for="reminder-time-input">Tempo do Lembrete (em minutos):</label>
    <input type="number" id="reminder-time-input" name="reminder-time">
</div>